<div class="menu home-menu pure-menu pure-menu-horizontal pure-menu-fixed">
    <a class="pure-menu-heading" routerLink="">GeoStat</a>
    <ul class="pure-menu-list">
        <!-- <li class="pure-menu-item"><a routerLink="#" class="pure-menu-link">About</a></li>
        <li class="pure-menu-item"><a routerLink="#" class="pure-menu-link">Contact</a></li> -->
        <li class="pure-menu-item"><a routerLink="/locations" class="pure-menu-link">Locations</a></li>
        <li class="pure-menu-item"><a routerLink="/groups" class="pure-menu-link">Groups</a></li>
    </ul>
    <ul class="pure-menu-list right-bar">
        <li class="pure-menu-item"><a routerLink="/login" class="pure-menu-link">Log In</a></li>
        <li class="pure-menu-item"><a routerLink="/register" class="pure-menu-link">Sign Up</a></li>
    </ul>
</div>

<div class="menu-image"></div>

<router-outlet></router-outlet>